:root {
  --bg_main: #008000;
  --clr_main: #000000;
  --bg_window: #f5f5f5;
  --clr_window: #000000;
  --bg_input_file_button: #ffffff;
  --clr_input_file_button: #000000;
  --bg_input_file_button_hover: #008000;
  --clr_input_file_button_hover: #ffffff;
  --bg_svg_box: #ffffff;
  --clr_svg_box: #000000;
  --bg_svg_box_hover: #a2f10e;
  --bg_svg_box_active: #ff0000;
  --bg_svg_box_option: #ffffff;
  --clr_svg_box_option: #000000;
  --bg_svg_box_option_hover: #add8e6;
  --bg_menu: #44c708;
  --bg_menu_hover: #01aa01;
  --clr_menu: #000000;
  --bg_input_search: #ffffff;
  --clr_input_search: #000000;
  --bg_search_hint: #dadada;
  --clr_search_hint: #000000;
  --bg_search_hint_hover: #19f519;
  --clr_search_hint_hover: #000000;
  --font-size: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr_main);
  background-color: var(--bg_main);
  user-select: none;
}

.header,
.footer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 190px -50px white;
    z-index: -1;
  }
}
svg * {
  user-select: none;
}

.window {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: var(--bg_window);
  color: var(--clr_window);
  z-index: 10000;
  display: grid;
  grid-template: 80px auto / auto 60px;
  overflow: hidden;
  box-shadow: 0 0 50px 20px rgb(20, 20, 20);

  @media screen and (max-width: 550px) {
    --font-size: 10px;
  }
  @media screen and (max-width: 850px) {
    --font-size: 17px;
  }

  @media screen and (min-width: 768px) {
    width: 80vw;
    height: 80vh;
  }
  @media screen and (min-width: 1200px) {
    width: 60vw;
    height: 80vh;
  }
  @media screen and (min-width: 1600px) {
    width: 40vw;
    height: 80vh;
  }

  &:not(#addPerson) > * {
    opacity: 0;
    animation: 1s opacity 1s ease forwards;
  }
  &#addPerson > .add-option-person {
    opacity: 0;
    animation: 1s opacity 1s ease forwards;
  }
  &#addPerson > *:not(.add-option-person) {
    position: relative;
    transform: translate(200%, 0%);
    animation: 1s translate ease forwards;
  }
  @keyframes translate {
    0% {
      transform: translate(200%, 0%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .title {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(var(--font-size) + 8px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid black;
  }

  .close {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0;
    height: 60px;
    align-self: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s ease;
      border-radius: 0;
      filter: opacity(0.3);
      background: currentColor;
    }

    &:hover::before {
      opacity: 1;
      border-radius: 50px;
    }
  }
}
.upload-file {
  width: 100%;
  height: 3em;
  justify-items: center;
  display: grid;
  margin-bottom: 2em;

  button {
    background-color: var(--bg_input_file_button);
    color: var(--clr_input_file_button);
    width: 50%;
    height: 3em;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--bg_input_file_button_hover);
      color: var(--clr_input_file_button_hover) !important;
    }
  }

  input[type='file'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}
.button {
  width: 80%;
  height: 3em;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  color: black;
  outline: 5px solid black;
  font-weight: 900;
  transition: all 0.2s ease;
  cursor: pointer;
  justify-self: center;

  &:hover {
    background: var(--bg_button-hover);
    color: var(--clr_button-hover);
  }
}
